{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<div class="row">

    <div class="col-md-12 mt-4"> <!--About header-->

        <h2>About us</h2>
        <hr>
        <p>
            We are dedicated to providing you with an exceptional grocery shopping experience. As a family-owned and
            community-focused grocery store, we take pride in serving the local neighborhoods and building strong
            relationships with our customers.

            Our shelves are always stocked with a wide variety of fresh, high-quality products, sourced from local
            farmers and trusted suppliers. From farm-fresh produce to premium meats, from pantry essentials to specialty
            items, we have everything you need to fill your kitchen with wholesome and delicious options.
        </p>

    </div><!--About header end-->


    <div class="col-md-6 mt-4">

        <h2>Mission</h2>
        <hr>
        <p>
            Our mission is to revolutionize the way our community experiences grocery shopping. We are committed to
            providing our customers with a warm and welcoming environment where they can discover an exceptional range
            of fresh, high-quality products. Our goal is to become the go-to destination for health-conscious
            individuals, food enthusiasts, and families seeking the best ingredients for their daily meals.
        </p>



    </div>

    <div class="col-md-6 mt-4">

        <h2>Partnerships and Collaborations </h2>
        <hr>
        <p>
            We believe in the power of collaboration. That's why we actively seek partnerships with local farmers,
            artisans, and suppliers. By sourcing a significant portion of our products locally, we not only ensure the
            freshest and highest-quality items for our customers but also support the livelihoods of our fellow
            community members.
        </p>

    </div>


    <!------------------------------------------->

    <div class="row ">
        <div class="col-md-12 mt-4"><!-- STATISTIC section -->
            <h4 class="mt-4">STATISTIC</h4>
            <hr>

            <div class="row justify-content-center ddd static"><!-- Sub-sections container -->
                <div class="col-md-4 sub1">
                    <h1 class="text-danger text-center">5,000 +</h1>
                    <h3 class="text-center">HAPPY CUSTOMER</h3>
                </div>

                <div class="col-md-4 sub2">
                    <h1 class="text-danger text-center">10,000 +</h1>
                    <h3 class="text-center ">ORDER DELIVERED</h3>
                </div>

                <div class="col-md-4 sub3">
                    <h1 class="text-danger text-center">300+</h1>
                    <h3 class="text-center ">PRODUCTS</h3>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock 'main' %}