
{% load static %}

<style>
    .fanchor{
        border: 1px solid black;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 2px;
        
        row-gap: 1px;
        border-radius: 30px;
        text-decoration: none;

        background-color: black;
        box-shadow: inset -1px -1px 10px gray;

        color: rgb(144, 232, 150);
     }

     .fanchor:hover{

        background-color: transparent;
        box-shadow: 1px 1px 10px gray;

        border: none;

        color: rgb(19, 21, 19);

        text-decoration: none;



     }

     .footerc {
        margin-bottom: 13px; /* Add margin from the bottom */
    }
</style>



<div class="row mt-3 footerc"><!--footer start-->

    <div class="col-md-4 mt-4">
        <h5>Address</h5>
        <hr>
        1st,Floor S.K Apartment</BR>
        GB ROAD,NEAR R.K STUDIO </BR>
        CHEMBUR,MUMBAI 400019 </BR></br>
        <P>
            <i class="bi bi-telephone-fill"></i> 9999999990
        </P>

        <p>
            <i class="bi bi-envelope"></i> customer@estore.com
        </p>

    </div>

    <div class="col-md-4 mt-4">
        <h5>Quick links</h5>
        <hr>
        <P><a href="/home" class="fanchor">Home</a></P>
        <P><a href="/about" class="fanchor">About</a></P>
        {% if user.is_authenticated %}
        <P><a href="cart.html" class="fanchor">Cart</a></P>
        {% endif %}


        <P><a href="/contact" class="fanchor">Contact</a></P>

    </div>

    <div class="col-md-4 mt-4">
        <h5>Contact us</h5>
        <hr>
        <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
    </div>

</div><!--footer end-->



<!-- End of the filter sidebar -->

<!--filter side bar end-->


</div><!--fluid div end main div enc-->







<script src="{% static 'asset/js/bootstrap.min.js' %}"></script><!-- Linked to the JavaScript file -->
<script src="{% static 'asset/js/popper.min.js' %}"></script>
</body>

</html>